# Default ignored files
/shelf/
/workspace.xml
/.idea
.idea

# Ignore macOS system files
.DS_Store

# Ignore PyCharm project settings
.idea/

# Ignore environment files
.env
venv/

# Ignore hidden swap files (common in text editors)
*.swp
*.swo
